<!DOCTYPE html>
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]> <html class="lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]> <html class="lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>cyberway</title>
  <link rel="stylesheet" href="/static/css/style.css">
  <!--[if lt IE 9]><script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  <script>
function checkUser()
{

   var username = document.getElementById("username").value;
   var hostname = document.getElementById("hostname").value;
   if(username == ""  ){
     alert("用户名不能为空");
     return false;
   }
   if(hostname == ""  ){
    alert("主机名不能为空");
     return false;
   }
   

}
</script>
   
</head>
<body>
  <section class="container">
    <div class="login">
      <h1>远程开机</h1>
      <form id="fm" method="POST" action="." onsubmit="return checkUser()">
          {% csrf_token %}
        <p><input id="username" type="text" name="username" value="" placeholder="用户名"></p>
        <p><input id="hostname" type="text" name="hostname" value="" placeholder="主机名"></p>
        <p class="txt">
          <label>
            <p name="remember_me" style="color: #FF0000; font-weight:500;">
                {% if error %}
                     {% for err in error %}
                        {{ err }}
                    {% endfor %}
                {% endif %}
           </p>
          </label>
        </p>
        <p class="submit" ><input type="submit" name="commit"  value="开机"></p>
      </form>
    </div>
  </section>
</body>
</html>
